@use '../utils/index' as *;
@use 'sass:color';

.vision {
  padding: 200px 0;
  color: $color-black;
  text-align: center;
  background: url('../images/Shapes.png') center/cover no-repeat;

  &__container {
    @include container;

    max-width: 750px;
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
  }

  &__text {
    max-width: 700px;
    margin: 0 auto 48px;

    font-size: 20px;
    line-height: 1.6;
    color: #333;
  }

  &__btn {
    cursor: pointer;

    display: inline-block;

    padding: 18px 40px;
    border-radius: 8px;

    font-size: 18px;
    font-weight: 600;
    color: $color-white;

    background: $color-accent;

    transition: 0.3s ease;

    &:hover {
      transform: translateY(-4px);
      background: color.scale($color-accent, $lightness: -8%);
    }

    &:active {
      transform: translateY(-1px);
    }
  }

  /* ===== RESPONSIVIDADE ===== */
  @media (max-width: #{$bp-md}) {
    padding: 100px 0;

    &__title {
      font-size: 38px;
    }

    &__text {
      font-size: 18px;
    }

    &__btn {
      width: 100%;
      padding: 16px 0;
    }
  }

  @media (max-width: #{$bp-sm}) {
    padding: 80px 0;

    &__title {
      font-size: 32px;
    }

    &__text {
      font-size: 16px;
    }
  }
}
