@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Inter'), local('Inter-Regular');
}

/* Se não tiver Inter, o fallback já está nas variáveis */
